body, div {
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
}

.sidebar {
  height: 100vh;
  overflow-y: scroll;
  width: 30%;
}

.main-view {
  height: 100vh;
  overflow-y: scroll;
  width: 70%;
}

.issue-title {
  font-size: 2em;
  margin: 0 auto;
  padding: 10px 30px;
}

.markdown-body {
  min-width: 200px;
  max-width: 790px;
  margin: 0 auto;
  padding: 20px;
}
